@model Web.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
}
<div class="col-2 col-offset-1">
    <div class="row">
        <div class="col-12" id="avatar">
            <img class="img-rounded" src="http://www.gravatar.com/avatar/4ace570c8e5735cf9d99505e376f2997?s=80" />
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="profile-name">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="profile-realname">
            @Model.RealName
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="profile-bio">
            @Model.ShortBio
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="profile-blog">
            <a href="@Model.BlogUrl">@Model.BlogName</a>
        </div>
    </div>
    <div class="row thirdparty">
        <div class="col-8">
            <a href="http://stackoverflow.com/users/13729/@Model.StackOverflowUsername">@Model.StackOverflowUsername</a>
        </div>
        <div class="col-4">
            <img src="~/Content/images/stackoverflow.png" alt="StackOverflow" />
        </div>
    </div>
    <div class="row thirdparty">
        <div class="col-8">
            <a href="http://pluralsight.com/training/users/@Model.PluralsightUsername">@Model.PluralsightUsername</a>
        </div>
        <div class="col-4">
            <img src="~/Content/images/pluralsight.png" alt="Pluralsight" />
        </div>
    </div>
    <div class="row thirdparty">
        <div class="col-8">
            <a href="http://github.com/@Model.GitHubUsername">@Model.GitHubUsername</a>
        </div>
        <div class="col-4">
            <img src="~/Content/images/github.gif" alt="GitHub" />
        </div>
    </div>
    <div class="row" id="profile-icons">
        <div class="col-12">
            <a href="http://twitter.com/@Model.TwitterAlias">
                <img class="small-icon" src="~/Content/images/twitter.png" /></a>
            <a href="@Model.FacebookUrl">
                <img class="small-icon" src="~/Content/images/facebook.png" /></a>
            <a href="@Model.LinkedInUrl">
                <img class="small-icon" src="~/Content/images/linkedin.png" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="profile-joindate">
            Member Since: <br />
            @Model.JoinDateString
        </div>
    </div>
</div>
<div class="col-8">
    <div class="row">
        <div class="col-6">
            <div class="box">Level 21
                <div class="lowersection">
                    <div class="container">
                        <div class="col-1">21</div>
                        <div class="col-10">
                            <div class="progress-bar2 green">
                                <span style="width: 40%">178 / 500</span>
                            </div>
                        </div>
                        <div class="col-1">22</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">RIGHT</div>
    </div>
    <div class="row">
        <div class="col-12">
                   CENTER AND RIGHT
        </div>
    </div>
</div>
<style>
    .lowersection {
        vertical-align:middle;
    }
    .progress-bar2 {
background-color: #F1F1F1;
	height: 25px;
	padding: 5px;
	width: 100%;
	margin: 50px 0;			
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          }
    
    .progress-bar2 span {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 10px 0 0 10px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;  
        color:white;  
        font-size:smaller;
        padding-bottom:5px;
        padding-left:5px;
}
    .green span {
        background-color: #8BBD00;
    }
</style>
